@import "tailwindcss";

.hero {
    margin: 0 10%;
    margin-top: 15vh;
}

/* Adjusting text size for responsiveness */
.hero-text {
    font-size: 6vw;
    color: #FFF;
    font-weight: 500;
    line-height: 1.2;
}

/* Explore button */
.hero-explore {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    margin-top: 5vh;
    padding: 10px 16px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: white;
    cursor: pointer;
}

.hero-explore p {
    color: #292929;
    font-size: 1.2rem;
    font-weight: 500;
}

/* Dot navigation and Play button section */
.hero-dot-play {
    margin-top: 8vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Dots for navigation */
.hero-dots {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.hero-dot {
    width: 12px;
    height: 12px;
    background: #FFF;
    border-radius: 50%;
    cursor: pointer;
}

.hero-dot.orange {
    background: orangered;
}

/* Play button */
.hero-play {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-play p {
    color: #FFF;
    font-size: 1rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .hero {
        margin: 0 5%;
        margin-top: 12vh;
    }

    .hero-text {
        font-size: 8vw;
        line-height: 1.1;
    }

    .hero-explore {
        padding: 8px 12px;
        padding-left: 20px;
        font-size: 1rem;
    }

    .hero-dot-play {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .hero {
        margin: 0 5%;
        margin-top: 10vh;
    }

    .hero-text {
        font-size: 10vw;
        text-align: center;
        line-height: 1.1;
    }

    .hero-explore {
        margin: 0 auto;
        margin-top: 4vh;
    }

    .hero-dot-play {
        flex-direction: column;
        align-items: center;
    }

    .hero-play {
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .hero {
        margin: 0 5%;
        margin-top: 8vh;
    }

    .hero-text {
        font-size: 12vw;
        text-align: center;
        line-height: 1;
    }

    .hero-explore {
        margin: 0 auto;
        margin-top: 50vh;
        padding: 6px 12px;
        font-size: 0.9rem;
    }

    .hero-dot-play {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .hero-dots {
        gap: 10px;
    }

    .hero-dot {
        width: 10px;
        height: 10px;
    }

    .hero-play {
        gap: 10px;
    }

    .hero-play p {
        font-size: 0.9rem;
    }
}
